<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="" href="https://www.w3schools.com/w3css/4/w3pro.css">
<head><link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"></head>
<body>



<div style ="width : 100vh; height: 100vh; "class="w3-container w3-card">
  <p style = "position: absolute;
  width: 36px;
  height: 12px;
  left: 18px;
  top: 40px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;

  color: #051F7D;"><a style = "color:#051F7D;" href="javascript:history.back()">Back</a></p>
  <p><img src="/static/img/x20200814groupshoplogofinal1.png" style ="position: absolute;
  width: 40vw;
  height: 30px;
  left: 30vw;
  right: 30vw;
  top: 12px;" ></p>
  
  <br>
  <hr align='left' style = "width : 100vw; ">   


  


  <p style = "position: absolute;
  width: 212px;
  height: 125px;
  left: 70px;
  top: 100px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  
  color: #051F7D;
  text-align: center;

  ">Your order has been placed ! We will send you a text with the confirmation and delivery schedule soon.</p> 

  
</div>

</body>
