<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="" href="https://www.w3schools.com/w3css/4/w3pro.css">
<body>

<div class="w3-container w3-card">
  <p><img src="static/img/x20200814groupshoplogofinal1.png" style ="position: absolute;
  width: 154px;
  height: 30px;
  left: 103px;
  top: 12px;" ></p>
  
  <br>
  <hr align="left" width="25.5%" > 


  <p style = "position: absolute;
  width: 121px;
  height: 0px;
  left: 123px;
  top: 40px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  
  
  color: #051F7D;
  ">Today's Deals</p> 

<!-- /* Rectangle 1 */


position: absolute;
width: 360px;
height: 104px;
left: 0px;
top: 85px;

background: #F9F9F9; -->

<svg  width="360px" height="600px">
  <rect x = '50' y = '80' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />
  <rect x = '50' y = '185' width="360px" height="104px" style="fill:#FFFFFF;stroke-width:3;" />
  <rect x = '50' y = '290' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />
  <rect x = '50' y = '395' width="360px" height="104px" style="fill:#FFFFFF;stroke-width:3;" />
  <rect x = '50' y = '500' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="100">Milk (1 Litre)</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="170">135 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="170" text-decoration="line-through">150 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="200">Bread</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="270">99 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="270" text-decoration="line-through">110 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="305">Yoghurt</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="375">99 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="375" text-decoration="line-through">110 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="410">Eggs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="480">221 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="480" text-decoration="line-through">245 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="515">Potatoes</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="313" y="585">3600 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="263" y="585" text-decoration="line-through">4,499 Rs</text>

  <image href="static/img/milk.jpg"  height="75" width="75" x = '-10' y='90'/>
  <image href="static/img/bread.jpg"  height="75" width="75" x = '-10' y='195'/>
  <image href="static/img/yoghurt.jpg"  height="58" width="58" x = '-2' y='310'/>
  <image href="static/img/eggs.jpg"  height="55" width="55" x = '2' y='405'/>
  <image href="static/img/potatoes.jpg"  height="55" width="55" x = '-4' y='505'/>


</svg>
</div>

</body>
