{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="" href="https://www.w3schools.com/w3css/4/w3pro.css">
<head><link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"></head>
<style>
.btn {
  background-color: #051F7D;
  border: 0.3px solid #000000;
  color: white;
  padding: 0px;
  margin: 100vh 0 0 0;
  width: 50vw;
  height: 56px;
  border-radius: 0.5px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #051F7D;
}
.btn1 {
  
  background-color: white;
  
  color: white;
  
  padding: 0px;
  margin: 100vh 0 0 0;
  border: 0.3px solid black;
  width: 50vw;
  height: 56px;
  border-radius: 0.5px;
  cursor: pointer;
  font-size: 14px;
}

.btn1:hover {
  background-color: white;
}
</style>
<body>

<div style ="width : 100vh; height: 100vh; "class="w3-container w3-card">
  <p style = "position: absolute;
  width: 36px;
  height: 12px;
  left: 18px;
  top: 40px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;

  color: #051F7D;"><a style = "color:#051F7D;" href="javascript:history.back()">Back</a></p>
  <p><img src="/static/img/x20200814groupshoplogofinal1.png" style ="position: absolute;
  width: 40vw;
  height: 30px;
  left: 30vw;
  right: 30vw;
  top: 12px;" ></p>
  
  <br>
  <hr align='left' style = "width : 100vw; " >


  <p style = "position: absolute;
  width: 218px;
  height: 17px;
  left: 20vw;
  top: 80px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  
  color: #051F7D;
  ">Shop in groups and save 10%</p> 

  <p><img src="/static/img/milk.jpg" style ="position: absolute;
    width: 80px;
    height: 143.19px;
    left: 118px;
    top: 143px;
    align-content: center;" ></p>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr align='left' style = " position: relative; width : 100vw; " >

  <p style = "position: absolute;
  width: 104px;
  height: 18px;
  left: 18px;
  top: 328px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #051F7D;
  "><u>Product Details</u></p> 

  <p style = "position: absolute;
  width: 342px;
  height: 161px;
  left: 18px;
  top: 369px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11.5px;
  line-height: 14px;
  
  color: #051F7D;">Description &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Official Olpers Milk Pack</p> 

  <p style = "position: absolute;
  width: 342px;
  height: 161px;
  left: 18px;
  top: 400px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #051F7D;">Brand &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Olpers</p> 

 
  <p style = "position: absolute;
  width: 342px;
  height: 161px;
  left: 18px;
  top: 431px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align:inherit;

  color: #051F7D;">Size &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1 Litre</p> 

  <p style = "position: absolute;
  width: 342px;
  height: 161px;
  left: 18px;
  top: 462px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11.2px;
  line-height: 14px;
  text-align: inherit;


  color: #051F7D;">Availability &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; In Stock</p> 

  <p style = "position: absolute;
  width: 342px;
  height: 161px;
  left: 18px;
  top: 493px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12.2px;
  line-height: 14px;
  text-align: inherit;


  color: #051F7D;">Delivery Time &nbsp; &nbsp; &nbsp; &nbsp; 1 Day</p> 

  <p style = "position: absolute;
  width: 60px;
  height: 18px;
  left: 18px;
  top: 530px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #051F7D;">Quantity </p> 

  <script>
    function store(x){
      localStorage.setItem("quantity", x);
      console.log(x)
    }
  
  
  </script>  
  
  <form name = 'form' >
    <label for="quantity"></label>
    <input style ="position: absolute;
    
    left: 118px;
    top: 543px;
  
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;" type="number" id="quantity" name="quantity" value="1" min="1" max="5">
    <input style ="position: absolute;
    
    left: 50vw;
  
  
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;" type="submit" value="Buy in Groups: 135 Rs " formaction= "/comingsoon/milk_groupshop.html/" class="btn">

    <input style ="position: absolute;
    
    left: 0px;
    

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px; color: #051F7D;" type="submit" value="Buy Alone: 150 Rs " formaction= "/comingsoon/milk_alone.html/" class="btn1">
    
    
  </form>

  <!-- <form name = 'form1' action = '/comingsoon/milk_alone.html/' >
    <label for="quantity1"></label>
    <input style ="position: absolute;
    
    left: 118px;
    top: 543px;
  
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;" type="number" id="quantity1" name="quantity1" min="1" max="5">
    <input style ="position: absolute;
    
    left: 0px;
    top: 584px;
  
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px; color: #051F7D;" type="submit" value="Buy Alone: 135 Rs " class="btn1">
    
    
  </form> -->
  
  
  

  

  <!-- <svg height="360" width="330" >
    

    <rect x="0" y="300" width="160" height="60"
    style = "fill:white;stroke:black;stroke-width:0.2;"/>
    <a href="/comingsoon/milk_groupshop.html">
      <rect x="160" y="300" width="160" height="60"
      style = "fill:#051F7D;stroke:black;stroke-width:0.2;"/>
    </a>

    

    <text fill="#051F7D" font-size="12" font-weight = "bold" font-family="Open Sans"  x="27" y="330">Buy Alone : 150 Rs</text>
    <text fill="#FFFFFF" font-size="12" font-weight = "bold" font-family="Open Sans"  x="187" y="330">Buy in Groups : 135 Rs</text>


  </svg> -->
<!-- /* Rectangle 1 */

  


position: absolute;
width: 360px;
height: 104px;
left: 0px;
top: 85px;

background: #F9F9F9; -->

<!-- <svg  width="360px" height="600px">
  <rect x = '50' y = '80' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />
  <rect x = '50' y = '185' width="360px" height="104px" style="fill:#FFFFFF;stroke-width:3;" />
  <rect x = '50' y = '290' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />
  <rect x = '50' y = '395' width="360px" height="104px" style="fill:#FFFFFF;stroke-width:3;" />
  <rect x = '50' y = '500' width="360px" height="104px" style="fill:#F9F9F9;stroke-width:3;" />

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="100">Milk (1 Litre)</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="170">135 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="170" text-decoration="line-through">150 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="200">Bread</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="270">99 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="270" text-decoration="line-through">110 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="305">Yoghurt</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="375">99 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="375" text-decoration="line-through">110 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="410">Eggs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="320" y="480">221 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="280" y="480" text-decoration="line-through">245 Rs</text>

  <text fill="#051F7D" font-size="12" font-family="Open Sans"  x="60" y="515">Potatoes</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="313" y="585">3600 Rs</text>
  <text  fill="#051F7D" font-size="11" font-family="Open Sans"  x="263" y="585" text-decoration="line-through">4,499 Rs</text>

  <image href="static/img/milk.jpg"  height="75" width="75" x = '-10' y='90'/>
  <image href="static/img/bread.jpg"  height="75" width="75" x = '-10' y='195'/>
  <image href="static/img/yoghurt.jpg"  height="58" width="58" x = '-2' y='310'/>
  <image href="static/img/eggs.jpg"  height="55" width="55" x = '2' y='405'/>
  <image href="static/img/potatoes.jpg"  height="55" width="55" x = '-4' y='505'/>


</svg> -->
</div>

</body>
